@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FCFFF5;
  font-family: "Poppins";
}

.ant-list-item{
    align-items: flex-start!important;
}